venv/
venvlinux/
.devcontainer/
envCDLib/
envNX
.vscode/
*.fly
*.csv
*.gexf
*.json
*.txt
*.log
*.png
*.jpg
*.jpeg
*.adjlist
*.zip
output/edgesMeasure.csv
testing.py
src/__pycache__/
output/flycircuit.gexf
dataset/
output/
