venv/
venvlinux/
.devcontainer/
envCDLib/
envNX
.vscode/
src/__pycache__/
output/flycircuit.gexf
dataset/
output/
*.fly
*.csv
*.gexf
*.json
*.log
*.png
*.jpg
*.jpeg
*.adjlist
*.zip
*.gml
*.txt
output/edgesMeasure.csv
testing.py

