venv/
venvlinux/
.devcontainer/
envCDLib/
dataset/
output/
communnities/
envNX
.vscode/
src/__pycache__/
output/flycircuit.gexf
dataset/
output/
*.fly
*.csv
*.gexf
*.json
*.log
*.png
*.jpg
*.jpeg
*.adjlist
*.zip
*.gml
*.txt
*.npy
*.pkl
.pytest_cache/
__pycache__/
.pyc
output/edgesMeasure.csv
testing.py

